<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gdu.myapp.mapper.ApprovalMapper">

  <insert id="insertApproval"
          parameterType="RequestsDto">
    INSERT INTO REQUESTS_T(
     REQUEST_NO
     , REQUEST_SORT
     , REQUEST_DATE
     , REASON
     , REQUEST_STATUS
     , EMPLOYEE_NO) VALUES (
       REQUESTS_SEQ.NEXTVAL
       , #{requestSort}
       , CURRENT_DATE
       , #{reason}
       , #{employeeNo}
    )
  </insert> 

  <insert id="insertLeaveApproval"
          parameterType="LeaveRequestDto">
    INSERT INTO LEAVE_REQUEST_T(
      REQUEST_NO
    , START_DATE
    , END_DATE
    , DURATION
    , LEAVE_TYPE   ) VALUES(
       1,
       #{startDate},
       #{endDate}
       ,#{duration}
       , #{leaveType}
                )
  </insert>
  

</mapper>