<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kh.wehub.schedule.model.dao.ScheduleDao">


	<resultMap type="DateData" id="ScheduleResultMap">
		<id property="cal_no" column="CAL_NO"/>
		<result property="user_no" column="USER_NO"/>
		<result property="year" column="CAL_YEAR"/>
		<result property="month" column="CAL_MONTH"/>
		<result property="date" column="CAL_DAY"/>
		<result property="schedule_content" column="CAL_CONTENT"/>
		<result property="schedule_date" column="CAL_DATE"/>
	</resultMap>

	<resultMap type="DeptData" id="DeptScheduleResultMapApproval">
		<id property="leave_start" column="LEAVE_START"/>
		<result property="leave_finish" column="LEAVE_FINISH"/>
		<result property="leave_classify" column="LEAVE_CLASSIFY"/>
		<result property="er_deadline" column="ER_DEADLINE"/>
		<result property="er_title" column="ER_TITLE"/>
		<result property="user_no" column="USER_NO"/>
		<result property="app_writer_no" column="APP_WRITER_NO"/>
		<result property="app_seq" column="APP_SEQ"/>
		<result property="leave_app_seq" column="LEAVE_APP_SEQ"/>
		<result property="user_name" column="USER_NAME"/>
		<result property="deptname" column="DEPT_NAME"/>
		<result property="dept_code" column="DEPT_CODE"/>
	</resultMap>

	<select id="selectCalendar" parameterType="map" resultMap="ScheduleResultMap">
		SELECT M.USER_NO, C.CAL_NO, C.CAL_CONTENT, C.CAL_DATE, C.CAL_YEAR, C.CAL_MONTH, C.CAL_DAY
		FROM CALENDAR C
		JOIN MEMBER M ON(M.USER_NO = C.USER_NO)
		WHERE M.USER_NO = #{userNo}
	</select>

	<select id="selectDeptCalendar" parameterType="map" resultMap="DeptScheduleResultMapApproval">

		SELECT TO_CHAR(LEAVE_START,'YYYY-MM-DD')LEAVE_START,TO_CHAR(LEAVE_FINISH,'YYYY-MM-DD')LEAVE_FINISH,LEAVE_CLASSIFY, M.USER_NAME,M.USER_NO,M.DEPT_CODE
        FROM MEMBER M 
        JOIN APPROVAL A ON A.APP_WRITER_NO= M.USER_NO
        JOIN APP_LEAVE AP ON A.APP_SEQ= AP.LEAVE_APP_SEQ
        JOIN DEPARTMENT D ON(M.DEPT_CODE = D.DEPT_CODE)
		WHERE M.DEPT_CODE = #{dept_code} AND A.APP_PRESENT='D'
	</select> 

	<insert id="insertCalendar" parameterType="map"
			useGeneratedKeys="true" keyProperty="cal_no" keyColumn="CAL_NO">
		INSERT INTO CALENDAR VALUES(
		SEQ_CAL_NO.NEXTVAL,
		#{userNo},
		#{year},
		#{month},
		#{dayNo},
		#{text},
		SYSDATE
		)
	</insert>

	<update id="updateCalendar" parameterType="map">
		UPDATE CALENDAR
		SET
			CAL_CONTENT = #{text},
			CAL_DATE = SYSDATE
		WHERE
			CAL_NO = #{calNo}
	</update>

	<select id="todaySchedule" parameterType="map" resultMap="ScheduleResultMap">
		SELECT M.USER_NO, C.CAL_NO, C.CAL_CONTENT, C.CAL_DATE, C.CAL_YEAR, C.CAL_MONTH, C.CAL_DAY
		FROM CALENDAR C
		JOIN MEMBER M ON(M.USER_NO = C.USER_NO)
		WHERE M.USER_NO = #{userNo}
		AND C.CAL_YEAR = #{year}
		AND C.CAL_MONTH = #{month}
		AND C.CAL_DAY = #{today}
	</select>

	<select id="selectAppCalendar" parameterType="map" resultMap="DeptScheduleResultMapApproval">
		SELECT TO_CHAR(ER_DEADLINE,'YYYY-MM-DD')ER_DEADLINE,ER_TITLE, M.USER_NAME,M.USER_NO,M.DEPT_CODE           
        FROM MEMBER M
        JOIN APPROVAL A ON (A.APP_WRITER_NO = M.USER_NO)
        JOIN APP_ER ER ON (A.APP_SEQ = ER.ER_APP_SEQ)
        JOIN DEPARTMENT D ON(M.DEPT_CODE = D.DEPT_CODE)
		WHERE M.DEPT_CODE = #{dept_code} AND A.APP_PRESENT='D'
	</select> 

</mapper>