/* 인명관리 전체 영역 */
.HM_Area {
  margin: 50px 0 0 450px;
}
.HM_section{
 margin: 70px 0 0 70px;
 padding: 30px 0 0 30px;
 /* border: 1px solid black; */
}

/* table */
.HM_TableArea {
  border: 1px solid rgb(211, 211, 211);
  /* border-collapse: collapse; */
  border-radius: 10px;
}
.HM_TableArea tbody tr:last-child > td {
  border: 0;
}

/* 상단 버튼 */
.HM_headerBtn {
  width: 50px;
  height: 35px;
  border: 1px solid #009879;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
  color: #009879;
}
.HM_headerBtn:hover {
  /* color: #fff; */
  /* background-color: #009879; */
  /* background: linear-gradient(to right, #009879, #25c481); */
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
}
.fa-trash-alt {
  font-size: 17px;
}
.fa-search {
  font-size: 17px;
}

/* 상단 select 태그 */
.HM_Department_Sel {
  display: inline-block;
  margin-left: 340px;
  margin-bottom: 30px;
}
select {
  width: 100px;
  height: 35px;
  padding: 0.1em 0.5em;
  border-radius: 5px;
  border: 1px solid #009879;
}

/*    검색박스    */
.HM_searchArea {
  border: 0;
  border-bottom: 2px solid #009879;
  width:300px;
}
.HM_searchBox {
  border: 0;
  color: #009879;
  background-color: #fff;
  border-bottom: 2px solid #009879;
  margin-left: -20px;
}

/* th 태그 */
.HMtbody th {
  text-align: center;
  color: #009879;
  text-transform: uppercase;
  padding: 20px 26px;
  border: 0px;
  border-bottom: 1px solid rgb(211, 211, 211);
}

/* td 태그 */
.HMtbody {
  padding: 10px 10px 10px 10px;
}
HM_TableArea td {
  border-bottom: 1px solid rgb(211, 211, 211);
}
.HM_Name {
  padding-left: 10px;
}
.HM_tdTag {
  /* border: 1px solid black; */
  padding: 10px 15px 10px 15px;
  text-align: center;
}
.HM_userProfileBox {
  display: inline-flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}
.HM_NameTd {
  text-align: left;
}
.HM_RankTd{
  text-align: center;
}

/* 하단 페이징 */
.HM_paging {
  padding: 30px 0 0 10px;
  margin-left: 800px;
}
.HM_pagingBtn {
  margin: 2px;
  border-radius: 5px;
  background-color: #fff;
  /* border: 1px solid #009879; */
  border: 1px solid #009879;
  /* border: 0; */
  color: #009879;
  padding: 5px 10px 5px 10px;
  /* font-weight: 600; */
}
.HM_pagingBtn:hover {
  /* color: #fff; */
  /* background-color: #009879; */
  /* background: linear-gradient(to right, #009879, #25c481); */
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
}


