<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kh.wehub.memberInfo.model.dao.MemberInfoDao">
	
	<sql id="selectMemberInfoSql">
		SELECT M.USER_NO,
	      	M.USER_COMPANYNAME,
	        M.USER_ID,
	        M.USER_PWD,
	        M.USER_NAME,
	        M.RANK,
	        M.EMAIL,
	        M.COMCALL,
	        M.PHONE,
	        M.ADDRESS,
	        M.USER_STATUS,
	        M.DEPT_CODE,
	        M.USER_IMG_ORIFILENAME,
		    M.USER_IMG_REFILENAME,
	        D.DEPT_NAME
	    FROM MEMBER M 
	    JOIN DEPARTMENT D ON(M.DEPT_CODE = D.DEPT_CODE)
	    WHERE M.USER_STATUS ='Y'
	</sql>
	
	<resultMap type="Member" id="memberResultMap">
		<!-- property : 자바의 인스턴스 변수 이름, column : DB에서 select 된 결과 컬럼명 -->
		<!-- DB에서 기본키를 의미 -->
		<id property="user_no" column="USER_NO"/>
		<!-- DB에서 일반 컬럼들 -->
		<id property="user_companyname" column="USER_COMPANYNAME"/>
		<id property="user_id" column="USER_ID"/>
		<id property="user_pwd" column="USER_PWD"/>
		<id property="user_name" column="USER_NAME"/>
		<id property="rank" column="RANK"/>
		<id property="email" column="EMAIL"/>
		<id property="comcall" column="COMCALL"/>
		<id property="phone" column="PHONE"/>
		<id property="address" column="ADDRESS"/>
		<id property="user_status" column="USER_STATUS"/>
		<id property="dept_code" column="DEPT_CODE"/>
		<id property="user_imgOriname" column="USER_IMG_ORIFILENAME"/>
		<id property="user_imgRename" column="USER_IMG_REFILENAME"/>
	</resultMap>
	
	
	<select id="infoCount" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE USER_STATUS ='Y'
	</select>
	
	<select id="SearchList" parameterType="map" resultMap="memberResultMap">
			<include refid="selectMemberInfoSql"></include>
		<choose>
			<when test="searchList != 'all'">
				AND d.dept_name LIKE '%'||#{searchText}||'%'
				OR m.user_name LIKE '%'||#{searchText}||'%'
				OR m.rank LIKE '%'||#{searchText}||'%'
			</when>
			<when test="searchList == 'all'">
				AND d.dept_name LIKE '%'||#{searchText}||'%'
				OR m.user_name LIKE '%'||#{searchText}||'%'
				OR m.rank LIKE '%'||#{searchText}||'%'
			</when>
			<otherwise>
				AND ${searchList} LIKE '%'||#{searchText}||'%'			
			</otherwise>
		</choose>
	</select>
	
	<select id="SearchCount" resultType="_int" parameterType="map">
		SELECT COUNT(*)
			FROM (SELECT M.USER_NO,
	      	M.USER_COMPANYNAME,
	        M.USER_ID,
	        M.USER_PWD,
	        M.USER_NAME,
	        M.RANK,
	        M.EMAIL,
	        M.COMCALL,
	        M.PHONE,
	        M.ADDRESS,
	        M.USER_STATUS,
	        M.DEPT_CODE,
	        D.DEPT_NAME
	    FROM MEMBER M 
	    JOIN DEPARTMENT D ON(M.DEPT_CODE = D.DEPT_CODE)
	    WHERE M.USER_STATUS ='Y'
		<choose>
			<when test="searchList != 'all'">
				AND d.dept_name LIKE '%'||#{searchText}||'%'
				OR m.user_name LIKE '%'||#{searchText}||'%'
				OR m.rank LIKE '%'||#{searchText}||'%')
			</when>
			<when test="searchList == 'all'">
				AND d.dept_name LIKE '%'||#{searchText}||'%'
				OR m.user_name LIKE '%'||#{searchText}||'%'
				OR m.rank LIKE '%'||#{searchText}||'%')
			</when>
			<otherwise>
				AND ${searchList} LIKE '%'||#{searchText}||'%')			
			</otherwise>
		</choose>
	</select>
	
	
	<insert id="insertMember" parameterType="string">
		INSERT INTO NEWMEMBER VALUES(
			SEQ_NEW_NO.NEXTVAL,
			#{newName},
			#{newRank},
			#{newDept}
		)
	</insert>
	
</mapper>